body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    #home h2 {
        white-space: normal;
        /* Permette al testo di andare a capo */
        font-size: 3.5rem;
        /* Puoi anche ridurre leggermente la dimensione del testo */
        line-height: 1.2;
        /* Migliora la spaziatura tra le righe */
    }

    #home h2 span {
        display: block;
        /* Forza "Ana Hysenaj" ad andare a capo */
    }

    #home p {
        font-size: 1.1rem;
        /* Puoi anche ridurre leggermente la dimensione del sottotitolo */
    }

    #mobile-menu {
        position: absolute;
        top: 68px;
        /* Altezza dell'header */
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        flex-direction: column;
        /* Imposta gli elementi del menu in colonna */
        align-items: flex-start;
        /* Allinea gli elementi a sinistra */
    }

    #mobile-menu nav {
        flex-direction: column;
        /* Anche la nav interna in colonna */
        align-items: flex-start;
        width: 100%;
    }

    #mobile-menu nav a {
        display: block;
        /* Ogni link occupa una riga intera */
        padding: 0.75rem 1rem;
        border-bottom: 1px solid #e5e7eb;
        /* Aggiunge un separatore tra i link */
        width: 100%;
    }

    #mobile-menu nav a:last-child {
        border-bottom: none;
        /* Rimuove il bordo dall'ultimo link */
    }
}

@keyframes infinite-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-infinite-scroll {
    display: flex;
    width: max-content;
    animation: infinite-scroll 20s linear infinite;
}

.animate-infinite-scroll:hover {
    animation-play-state: paused;
}

#project-modal img {
  object-fit: contain !important; /* Mostra l'immagine intera senza tagliarla */
  height: auto !important; /* Rimuove l'altezza fissa h-48 per le immagini nel popup */
  max-height: 50vh; /* Limita l'altezza per non occupare tutto lo schermo */
  border-radius: 0.5rem;
}